@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 95%;
}

.btn-banner {
  @apply font-bold py-4 px-6 md:mt-10 mt-6 bg-black md:w-56 w-48 md:text-2xl text-lg text-white rounded-bl-[6rem] rounded-t-[6rem];
  font-weight: 700;
  &:hover {
    @apply bg-white text-black outline outline-black;
  }
}

.btn-emptyCart {
  @apply font-bold py-4 px-6 md:mt-10 mt-6 bg-black md:w-56 w-48 md:text-2xl text-lg text-white rounded-br-[6rem] rounded-t-[6rem];
  font-weight: 700;
  &:hover {
    @apply bg-white text-black outline outline-black;
  }
}

.btn-cart {
  @apply rounded-full py-1 px-2 md:w-28 w-24 bg-black text-white md:text-base text-sm;
  font-weight: 600;
  &:hover {
    @apply bg-white text-black outline outline-1 outline-black;
  }
}

.btn-signup {
  @apply font-medium p-3 bg-black w-36 md:text-lg text-lg text-white rounded;
  font-weight: 700;
  &:hover {
    @apply bg-white text-black outline outline-black;
  }
}

.logo-heading {
  @apply md:text-4xl text-2xl;
  font-weight: 700;
}

.logo-sub-heading {
  @apply md:text-lg text-sm;
  font-weight: 400;
}

.banner-heading {
  @apply md:text-5xl text-3xl mb-6;
  font-weight: 700;
}

.banner-sub-heading {
  @apply md:text-3xl text-xl;
  font-weight: 500;
}

.item-name {
  @apply md:text-lg text-sm mb-3;
  font-weight: 600;
}

.item-description {
  @apply md:text-base text-xs mb-3 text-left text-slate-500;
  font-weight: 400;
}

.item-price {
  @apply md:text-xl text-base;
  font-weight: 600;
}

.footer-description {
  @apply md:text-lg text-sm;
  font-weight: 500;
}

.order-heading {
  @apply md:text-4xl text-3xl mt-3 mb-6 py-2 border-b-2 border-black md:w-1/2 w-full;
  font-weight: 600;
}

.order-total {
  @apply md:text-3xl text-2xl my-8 py-2 border-t-2 border-black md:w-2/3 ml-auto w-full text-right;
  font-weight: 600;
}
